<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="The PromoApp Test Automation Test Suite">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="PromoApp Test Cases">
		<classes>
			<class name="com.promoapp.qa.testcases.LoginPageTest.java"></class>
			<class name="com.promoapp.qa.testcases.LocationHomeTest.java"></class>
			

		</classes>
	</test>
</suite>